@import '../../../sass/config.scss';

.container {
    display: flex;
    flex-direction: row;
}

.right-col {
    width: calc(100% - 20.4rem);
    max-height: calc(90vh - 10rem);
    overflow-y: auto;
    margin-left: 1.4rem;

    &__list {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin-top: 2.1rem;
    }
}

.right-col-u {
    
    &__row {
        a {
            display: flex;
            align-items: center;
            border-radius: $border_radius;
            padding: 1rem 0;
            @include createTransition(.3s, ease);

            &:hover {
                background: var(--newlight-gray);
                padding: 1rem 1.5rem;
            }
        }
    }

    &__image {
        width: 4.1rem; height: 4.1rem;
    }

    &__name {
        width: calc(100% - 14.7rem);
        margin-top: -.3rem;

        h5 {
            font-size: 1.4rem;
            color: var(--gray-text);
            font-weight: 600;

            span {
                color: var(--negative);

                svg {
                    width: 1.2rem;
                }
            }
        }
         
        p {
            font-size: 1.1rem;
            color: #99a0ab;
            font-weight: 600;
        }
    }

    &__role {
        width: 9rem;
        text-align: center;

        p {
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            padding: .3rem 0;
            border-radius: 100px;
        }
    }
}