@import '../../../sass/config.scss';

.wrap {
    // padding-top: $main_top_padding;

    &__header {
        margin-top: 3rem;
        @include globalWidth;
        text-align: center;

        h2 {
            font-size: 3.1rem;
            font-weight: 800;
        }
    }
}

.header {
    // @include globalWidth;
    height: 85vh;
    position: relative;
    // max-width: 70rem;
    // margin-left: auto; margin-right: auto;
    text-align: center;
    background: var(--primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

    @include respond(phone) {
        height: auto;
        min-height: 85vh;
    }

    &__box {
        max-width: 65rem;
        margin-left: auto; margin-right: auto;
        position: absolute;
        left: 0; top: 21%; right: 0;

        @include respond(tab-port) {
            @include globalWidth;
            top: 17%;
        }

        @include respond(phone) {
            position: relative;
            width: 90%;
            padding-top: 5.2rem;
        }

        h5 {
            font-size: 2.4rem;
            padding-bottom: 1.7rem;
        }

        p {
            font-size: 1.9rem;
            line-height: 1.7;
            font-weight: 600;
            line-height: 1.7;
            color: #fff;

            @include respond(phone) {
                font-size: 1.7rem;
                padding-bottom: 27rem;
            }
        }
    }

    &__more {
        position: absolute;
        left: 0; right: 0; bottom: 20%;
        z-index: 1;
        color: #fff;
        text-align: center;

        p {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: -1.2rem;
            cursor: pointer;
        }

        svg {
            cursor: pointer;
            width: 4.5rem; height: 4.5rem;
        }

        svg, g, path, polygon {
            fill: #fff;
        }
    }
}

.people {
    @include globalWidth;

    &__header {
        margin-bottom: 5.7rem;
        
        h5 {
            font-size: 3.1rem;

            @include respond(tab-port) {
                font-size: 2.5rem;
            }
        }
    }
}

.person {
    display: flex;
    // align-items: center;
    margin-top: 3.1rem;

    @include respond(phone) {
        display: block;
    }

    &__image {
        width: 23rem;
        height: auto;

        @include respond(phone) {
            width: 100%;
        }    

        span {
            display: block;
            border-radius: $border_radius;
            overflow: hidden;
        }
    }

    &__details {
        width: calc(100% - 26.4rem);
        margin-left: 3.4rem;

        @include respond(phone) {
            width: 100%;
            margin-left: 0; margin-top: 2.1rem;
        }

        h5 {
            font-size: 2.1rem;
            color: var(--primary);
            padding-bottom: .7rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: rgba(41, 41, 41, 1);
        }

        button {
            text-align: center;
            margin-top: 1.4rem;
            width: 100%;
            cursor: pointer;
            color: var(--primary);
            font-size: 1.2rem;
            font-weight: 800;
            border-radius: 4px;
            background: transparent;
            padding: .6rem 0;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}