@import '../../../sass/config.scss';

.wrap {
    @include globalWidth;
}

.nav {
    width: 100%;
    @include clearfix;
    padding-top: 1.7rem; padding-bottom: 1.7rem;

    &__logo {

        h3 {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
}