@import '../../../sass/config.scss';

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

// * main

.wrap {
    margin-top: 5.7rem;
    background: var(--bg-color);
    padding-bottom: 10.4rem;
}

.nav {    
    position: fixed;
    top: 0; right: 0; left: 0;
    background: #fff;
    z-index: 999;
    @include createShadow(rgba(25, 28, 31, 0.05) 17px 11px 33px);

    &__inner {
        @include globalWidth;
        padding-top: 2.4rem; padding-bottom: 2.4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            // color: #333;
        }
    }
}

.nav-list {
    position: relative;

    ul {
        text-align:center;

        li {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 700;

            a {
                // display: block;
                display:inline-block;
                padding-right: 2.3rem;
                padding-left: 2.3rem; 
                box-sizing: border-box;       
                color: #000;        
            }
        }

        hr {
            transition: .3s all ease;
            background: var(--primary);
            height: 4px;
            width: 0;
            margin-left: 0;
            border: 0;
            border-radius: 200px 200px 0 0;
            position: absolute;
            left: 0;
            bottom: -2.65rem;
        }
    }

    &--active {
        color: var(--primary) !important;
    }
}

.nav-share {
    // float: right;
    // margin-top: -.2rem;

    a {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 70px;
        background: var(--primary);
        padding: .5rem 1.5rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 600;
        padding-right: 1rem;
        color: #fff;
    }

    svg {
        width: 1.4rem;
        fill: #fff;
    }
}

.footer {
    @include globalWidth;
    // margin-top: 5.7rem;

    &__inner {
        width: 100%;
        // border-top: 1px solid #e7e7e7;
        padding: 2.1rem 0;
    }

    &__banner {
        max-width: 78rem;
        margin-left: auto; margin-right: auto;
    }

    &__copyright {
        margin-top: 2.4rem;
        text-align: center;

        p {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--secondary-text);
        }
    }
}

